// Screen widths (for general purpose)
$screen_xxs: 449px; // * usage: (max-width: XXS)
$screen_xs: 599px; // * usage: (max-width: XS)
$screen_s: 799px; // usage: (max-width: S)
$screen_sm: 959px; // * usage: (max-width: SM)
$screen_md: 1263px; // * usage: (max-width: MD)
$screen_lg: 1903px; // * usage: (max-width: LG)
$screen_xl: 1904px; // * usage: (min-width: XL)